
  
  <!-- Modal -->
  <form>
    <modal>
          <h5 modal-title>Novo Empregado</h5>
          <div modal-body>
              <div class="form-group">
                  <label>Nome</label>
                  <input class="form-control" name="name" type="text" [(ngModel)]="employee.name">
              </div>
              <div class="form-group">
                  <label>Salário</label>
                  <input class="form-control" name="salary" type="number" [(ngModel)]="employee.salary">
              </div>
              
              <div class='form-group' [hidden]="employee.salary >= 1000">
                  <label >Bônus</label>
                  <input name="bonus" class="form-control" type="text" [(ngModel)]="employee.bonus">
              </div>            
          </div>
          <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button (click)="addEmployee()" type="button" class="btn btn-primary" data-dismiss="modal">Incluir</button>
          </div>
    </modal>
  </form>
